<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>DODAJ KSIĄŻKĘ</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

<div class="container-fixed">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fixed">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/start">Biblioteka</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/catalog">Katalog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="nameOfUser" name="nameOfUser" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako $!login<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/settings">Ustawienia</a></li>
                            <li><a href="/logout">Wyloguj</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="jumbotron text-center">
        <h1>Biblioteka Główna</h1>
        <p>Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie</p>
    </div>
</div>


<div class="container" id="user">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="/settings">Dodaj książkę</a></li>
        <li role="presentation"><a href="/confirmBorrowing">Potwierdź wypożyczenie</a></li>
        <li role="presentation"><a href="/confirmReturn">Potwierdź zwrot</a></li>
        <li role="presentation"><a href="/confirmPayment">Potwierdź uiszczenie opłaty</a></li>
    </ul>
</div>


<div id="divFormAddBook" class="container">
    <form action="/settings" method="post" id="formAddBook" class="form-signin">
        <h2 class="form-signin-heading">Dodaj książkę</h2>

        #if($bookAlreadyExists)
            <div>
                KSIĄŻKA O PODANYM ISBN JUŻ ISTNIEJE!
            </div>
        #elseif($wrongURL)
            <div>
                NIE UDAŁO SIĘ WCZYTAĆ OBRAZKA, SPRAWDŹ POPRAWNOŚĆ ADRESU!
            </div>
        #end

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Tytuł">
            </div>
        </div>


        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputAuthor" name="inputAuthor" placeholder="Autor">
            </div>
        </div>


        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <select class="form-control" type="text" name="inputKategory" id="inputKategory">
                    <option disabled selected>Wybierz kategorię</option>
                    <option value="action">Akcja</option>
                    <option value="biographical">Biograficzne</option>
                    <option value="children">Dla dzieci</option>
                    <option value="erotic">Erotyka</option>
                    <option value="fantasy">Fantastyka</option>
                    <option value="historical">Historyczna</option>
                    <option value="horror">Horror</option>
                    <option value="languages">Języki obce</option>
                    <option value="classical">Klasyka</option>
                    <option value="comic">Komiks</option>
                    <option value="crime">Kryminał</option>
                    <option value="bellas">Literatura piękna</option>
                    <option value="custom">Obyczajowa</option>
                    <option value="poetry">Poezja</option>
                    <option value="thriller">Thriller</option>
                    <option value="others">Inne</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputPublishingHouse" name="inputPublishingHouse" placeholder="Wydawnictwo">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputDate" name="inputDate" placeholder="Rok wydania">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputPlace" name="inputPlace" placeholder="Miejsce wydania">
            </div>
        </div>


        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputPages" name="inputPages" placeholder="Liczba stron">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputDescription" name="inputDescription" placeholder="Opis">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <select class="form-control" type="text" name="inputLanguage" id="inputLanguage">
                    <option disabled selected>Wybierz język</option>
                    <option>Jezyk polski</option>
                    <option>Jezyk angielski</option>
                    <option>Jezyk hiszpanski</option>
                    <option>Jezyk niemiecki</option>
                    <option>Jezyk chinski</option>
                    <option>Jezyk rosyjski</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputIsbn" name="inputIsbn" placeholder="Isbn">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputAmount" name="inputAmount" placeholder="Ilość">
            </div>
        </div>

        <div class="form-group">
            <label>Wpisz link do obrazka</label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputCover" name="inputCover" placeholder="Okładka">
            </div>
        </div>




        <div class="form-group">
            <div id="wiersze">
                <button class="btn btn-lg btn-primary btn-block" class="btn btn-primary" type="submit" name="add" id="add">Dodaj</button>
            </div>
        </div>

    </form>
</div>



<script type="text/javascript">
    $(document).ready(function() {
        $("#formAddBook").validate({
            rules: {
                inputTitle: {
                    required: true
                },
                inputAuthor: "required",
                inputKategory: {
                    required: true
                },
                inputPublishingHouse: {
                    required: true
                },
                inputDate: {
                    required: true,
                    number: true
                },
                inputPlace: {
                    required: true
                },
                inputPages: {
                    required: true,
                    number: true
                },
                inputDescription: {
                    required: true
                },
                inputLanguage: {
                    required: true
                },
                inputIsbn: {
                    required: true,
                    digits: true,
                    minlength: 13,
                    maxlength: 13
                },
                inputAmount: {
                    required: true,
                    digits: true
                },
                inputCover: {
                    required: true,
                    url: true
                }
            },
            messages: {
                inputTitle: {
                    required: "Proszę wpisać tytuł"
                },
                inputAuthor: "Proszę wpisać autora",
                inputKategory: {
                    required: "Proszę wpisać kategorię"
                },
                inputPublishingHouse: {
                    required: "Proszę wpisać wydawnictwo"
                },
                inputDate: {
                    required: "Proszę wpisać datę wydania",
                    number: "Proszę wpisać liczbę"
                },
                inputPlace: {
                    required: "Proszę wpisać miejsce wydania"
                },
                inputPages: {
                    required: "Proszę wpisać ilość stron",
                    number: "Proszę wpisać liczbę"
                },
                inputDescription: {
                    required: "Proszę wpisać opis"
                },
                inputLanguage: "Proszę wpisać język",
                inputIsbn: {
                    required: "Proszę wpisać swój numer ISBN",
                    digits: "Proszę wpisać tylko cyfry",
                    minlength: "Numer ma zawierac 13 cyfr",
                    maxlength: "Numer ma zawierac 13 cyfr"
                },
                inputAmount: {
                    required: "Proszę wpisać ilość",
                    digits: "Proszę wpisać tylko cyfry"
                },
                inputCover: {
                    required: "Proszę dodać okładkę",
                    url: "Proszę wprowadzić url z okładką"
                }
            },
            errorElement: "em",
            errorPlacement: function(error, element) {

                error.addClass("help-block");

                element.parents("#wiersze").addClass("has-feedback");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                if (!element.next("span")[0]) {
                    $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                }
            },
            success: function(label, element) {
                if (!$(element).next("span")[0]) {
                    $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                }
            },
            highlight: function(element, errorClass, validClass) {
                $(element).parents("#wiersze").addClass("has-error").removeClass("has-success");
                $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).parents("#wiersze").addClass("has-success").removeClass("has-error");
                $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
            }

        });
    });
</script>

</body>

</html>
