<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>DODAJ KSIĄŻKĘ</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="myCss.css">

    <script src="js/additional-methods.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>

</head>

<body>

<div id="divFormAddBook" class="container">
    <form action="/uploadbook" method="post" id="formAddBook" class="form-signin">
        <h2 class="form-signin-heading">Dodawanie książki</h2>


        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Tytuł">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputAuthor" name="inputAuthor" placeholder="Autor">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputKategory" name="inputKategory" placeholder="Kategoria">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputPublishingHouse" name="inputPublishingHouse" placeholder="Wydawnictwo">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="year" class="form-control" id="inputDate" name="inputDate" placeholder="Rok wydania">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputPlace" name="inputPlace" placeholder="Miejsce wydania">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="number" class="form-control" id="inputPages" name="inputPages" placeholder="Liczba stron">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputDescription" name="inputDescription" placeholder="Opis">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputLanguage" name="inputLanguage" placeholder="Język">
            </div>
        </div>


        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputIsbn" name="inputIsbn" placeholder="Isbn">
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <div id="wiersze">
                <input type="text" class="form-control" id="inputCover" name="inputCover" placeholder="Okładka">
            </div>
        </div>


        <div class="form-group">
            <div id="wiersze">
                <button class="btn btn-lg btn-primary btn-block" class="btn btn-primary" type="submit" name="add" id="add">Dodaj</button>
            </div>
        </div>

    </form>
</div>




<script type="text/javascript">
    $(document).ready(function() {
        $("#formSignUp").validate({
            rules: {
                inputTitle: {
                    required: true
                },
                inputAuthor: "required",
                inputKategory: {
                    required: true
                },
                inputPublishingHouse: {
                    required: true
                },
                inputDate: {
                    required: true,
                    digits: true
                },
                inputPlace: {
                    required: true
                },
                inputPages: {
                    required: true,
                    digits: true
                },
                inputDescription: {
                    required: true
                },
                inputLanguage: {
                    required: true
                },
                inputIsbn: {
                    required: true
                },
                inputCover: {
                    required: false
                }
            },
            messages: {
                inputTitle: {
                    required: "Proszę wpisać tytuł"
                },
                inputAuthor: "Proszę wpisać autora",
                inputKategory: {
                    required: "Proszę wpisać kategorię"
                },
                inputPublishingHouse: {
                    required: "Proszę wpisać nazwę wydawnictwa"
                },
                inputDate: {
                    required: "Proszę wpisać datę wydania",
                    digits: "Proszę wpisać tylko cyfry"
                },
                inputPlace: {
                    required: "Proszę wpisać miejsce wydania
                },
                inputPages: {
                    required: "Proszę wpisać ilość stron",
                    digits: "Proszę wpisać tylko cyfry"
                },
                inputDescription: {
                    required: "Proszę wpisać opis"
                },
                inputLanguage: {
                    required: "Proszę wpisać język"
                },
                inputIsbn: {
                    required: "Proszę wpisać isbn
                },
                inputCover: {
                    required: "Proszę dodać okładkę"
                }
            },
            errorElement: "em",
            errorPlacement: function(error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");

                // Add `has-feedback` class to the parent div.form-group
                // in order to add icons to inputs
                element.parents("#wiersze").addClass("has-feedback");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if (!element.next("span")[0]) {
                    $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                }
            },
            success: function(label, element) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if (!$(element).next("span")[0]) {
                    $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                }
            },
            highlight: function(element, errorClass, validClass) {
                $(element).parents("#wiersze").addClass("has-error").removeClass("has-success");
                $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).parents("#wiersze").addClass("has-success").removeClass("has-error");
                $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
            }

        });
    });
</script>



<script src="js/bootstrap.min.js"></script>
</body>

</html>
