<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>LOGOWANIE</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/myCss.css">
</head>

<body>

    <div id="divFormLogIn" class="container">
        <form action="/start" method="post" id="formLogIn" class="form-signin">
            <h2 class="form-signin-heading">Logowanie</h2>

            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Adres email" required autofocus>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Hasło" required>
            </div>

            <div class="form-check">
                <label>    
            <input type="checkbox" id="inputRememberMe" name="inputRememberMe" class="form-check-input"> Zapamiętaj mnie!
            </label>
            </div>

            <div>
                <h4>Nie masz konta? <a href="/start">Kliknij tutaj!</a></h4>
            </div>

            <button class="btn btn-lg btn-primary btn-block" class="btn btn-primary" type="submit">Zaloguj się</button>

        </form>
    </div>

    <script src="js/bootstrap.min.js"></script>
</body>

</html>
