<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Theme Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <div class="sidenav">
        <a href="#">Literatura piękna</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

    <div class="main">
        <div class="container">
            <h2>Image Gallery</h2>
            <p>The .thumbnail class can be used to display an image gallery.</p>
            <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
            <p>Click on the images to enlarge them.</p>
            <div class="row">

                <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>
   <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>   <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>   <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>
                   <div class="col-md-4">
                    <div class="thumbnail">

                        <a href="image/marcin3.jpg" target="">
          <img src="image/marcin3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>

</body>

</html>
