<!DOCTYPE html>
<html lang="en">

<head>
    <title>Biblioteka</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>



<div class="container-fixed">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fixed">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/start">Biblioteka</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/catalog">Katalog</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                        <a class="dropdown-toggle" id="nameOfUser" name="nameOfUser" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako $!login<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/change">Ustawienia</a></li>
                            <li><a href="/logout">Wyloguj</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    </div>
 

    <div id="tresc" class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar-nav-fixed ">
                    <div class="well">
                        <ul class="nav ">

                            <li><a href="/catalog/action">Akcja</a>
                            </li>
                            <li><a href="/catalog/biographical ">Biograficzne</a>
                            </li>
                            <li><a href="/catalog/children">Dla dzieci</a>
                            </li>
                            <li><a href="/catalog/erotic">Erotyka</a>
                            </li>
                            <li><a href="/catalog/fantasy">Fantastyka</a>
                            </li>
                            <li><a href="/catalog/historical">Historyczna</a>
                            </li>
                            <li><a href="/catalog/horror">Horror</a>
                            </li>
                            <li><a href="/catalog/languages">Języki obce</a>
                            </li>
                            <li><a href="/catalog/classical">Klasyka</a>
                            </li>
                            <li><a href="/catalog/comic">Komiks</a>
                            </li>
                            <li><a href="/catalog/crime">Kryminał</a>
                            </li>
                            <li><a href="belles">Literatura piękna</a>
                            </li>
                            <li><a href="custom">Obyczajowa</a>
                            </li>
                            <li><a href="/catalog/poetry">Poezja</a>
                            </li>
                            <li><a href="/catalog/thriller">Thriller</a>
                            </li>
                            <li><a href="/catalog/others">Inne</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.well -->
                </div>
                <!--/sidebar-nav-fixed -->
            </div>
            <!--/span-->
            <div class="col-md-10">


        #if($books.isEmpty())
            <h1 id="noBooks">NIESTETY NIE POSIADAMY KSIĄŻEK W WYBRANEJ PRZEZ CIEBIE KATEGORII</h1>
        #else
            #foreach($book in $books)
                <div id="bookDiv" class="thumbnail col-md-4 container">

                    <a href="/book/$book.getIsbn()" target="">
                        <img src="/Covers/$book.getCover()" alt="Brak okładki" id="coverId" ">
                        <div class="caption">
                            <p>TYTUŁ: $book.getTitle()</p>
                            <p>AUTOR: $book.getAuthors()</p>
                        </div>
                    </a>
                </div>
            #end
        #end


                



            </div>

        </div>
    </div>
</body>
</html>
