<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>DANE</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/myCss.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>


<div class="container-fixed">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fixed">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Biblioteka</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Strona główna</a></li>
                    <li class="active"><a href="#">Katalog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="nameOfUser" name="nameOfUser" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako $login<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="/logout">Wyloguj</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Biblioteka Główna</h1>
        <p>Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie</p>
    </div>
</div>

<div class="container" id="user">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="uzytkownik_rezerwacje.html">Rezerwacje</a></li>
        <li role="presentation"><a href="uzytkownik_wypozyczenia.html">Wypożyczone</a></li>
        <li role="presentation"><a href="uzytkownik_oplaty.html">Opłaty</a></li>
        <li role="presentation"><a href="uzytkownik_historia.html">Historia wypozyczeń</a></li>
        <li role="presentation" class="active"><a href="uzytkownik_dane.html">Dane użytkownika</a></li>
    </ul>
</div>


<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr>
                    <td class="text-center">Adres email</td>
                    <td class="text-center">$email<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Login</td>
                    <td class="text-center">$login<a href="#"></a></td>
                </tr>

                <tr>
                    <td class="text-center">Hasło</td>
                    <td class="text-center">
                        <text type="password" value="hasło">$password</text><a href="#" id="changePassword"> Zmień hasło</a>

                        <div class="messagepop pop">
                            <form method="post" id="formChangePassword" action="#">
                                <p>
                                    <label for="password">Wpisz obecne hasło</label>
                                    <input type="password" name="ChangePasswordOld" id="ChangePasswordOld" /></p>
                                <p>
                                    <label for="password">Wpisz nowe hasło</label>
                                    <input type="password" name="ChangePasswordNew" id="ChangePasswordNew"></p>
                                <p>
                                    <input type="submit" value="Zmień hasło" name="changePasswordSubmit" id="changePasswordSubmit" />
                                    <a class="close" href="/">Anuluj</a></p>
                            </form>
                        </div>


                    </td>
                </tr>
                <tr>
                    <td class="text-center">Imię</td>
                    <td class="text-center">$name<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Nazwisko</td>
                    <td class="text-center">$surname<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Data urodzenia</td>
                    <td class="text-center">$birth_date<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Adres</td>
                    <td class="text-center">$address<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Kod pocztowy</td>
                    <td class="text-center">$postal_code<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Miasto</td>
                    <td class="text-center">$city<a href="#"></a></td>
                </tr>
                <tr>
                    <td class="text-center">Numer telefonu</td>
                    <td class="text-center">$phone<a href="#"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<script>
    function deselect(e) {
        $('.pop').slideFadeToggle(function() {
            e.removeClass('selected');
        });
    }

    $(function() {
        $('#changePassword').on('click', function() {
            if ($(this).hasClass('selected')) {
                deselect($(this));
            } else {
                $(this).addClass('selected');
                $('.pop').slideFadeToggle();
            }
            return false;
        });

        $('.close').on('click', function() {
            deselect($('#changePassword'));
            return false;
        });
    });

    $.fn.slideFadeToggle = function(easing, callback) {
        return this.animate({
            opacity: 'toggle',
            height: 'toggle'
        }, 'fast', easing, callback);
    };
</script>

<script src="js/bootstrap.min.js"></script>
</body>

</html>
