<!DOCTYPE html>
<html lang="pl">

<!-- plik odpowiedzialny za wyswietlanie w panelu uzytkownika tableki  -->


<head>
    <meta charset="UTF-8">
    <title>UŻYTKOWNIK</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
</head>

<body>
<div class="container-fixed">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fixed">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/start">Biblioteka</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/catalog">Katalog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="nameOfUser" name="nameOfUser" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako $login<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/change">Ustawienia</a></li>
                            <li><a href="/logout">Wyloguj</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="jumbotron text-center">
        <h1>Biblioteka Główna</h1>
        <p>Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie</p>
    </div>
</div>

<div class="container" id="user">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/reserved">Rezerwacje</a></li>
        <li role="presentation"><a href="/borrowed">Wypożyczone</a></li>
        <li role="presentation"><a href="/penalties">Opłaty</a></li>
        <li role="presentation"><a href="#">Historia wypozyczeń</a></li>
        <li role="presentation"><a href="/change">Dane użytkownika</a></li>
    </ul>
</div>

</body>

</html>
